@use '../variables.scss' as *;

.tooltip {
  position: relative;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;

  &::before {
    content: '';
    position: absolute;
    top: -30px;
    left: 9px;
    width: 24px;
    height: 24px;
  }

  &:hover .tooltip__text {
    display: block;
  }

  &__text {
    display: none;
    position: absolute;
    top: -75px;
    left: 10px;
    background-color: $secondary-color;
    padding: 15px 20px;
    border-radius: 5px;
    white-space: nowrap;
  }

  &__icon {
    position: absolute;
    width: 24px;
    height: 24px;
    background-color: $bg-color-light-gray;
    border-radius: 50%;
    top: -10px;
    left: 10px;
    display: flex;
    justify-content: center;
    cursor: pointer;
  }
}
