@use '../variables.scss' as v;

.footer {
  background-color: v.$bg-cpolor-tetriary;
  padding: 40px 10px;
  & a {
    color: v.$text-color-secondary;
  }
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
}

.copyright {
  font-size: 16px;
  color: #b8b7bd;
}
