@use '../variables' as *;

.header {
  background-color: $bg-cpolor-tetriary;
  padding: 30px 0;
  position: sticky;

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__nav {
    display: flex;
    align-items: center;
  }

  &__nav-menu {
    display: flex;
    justify-content: space-between;
    gap: 40px;
  }
}
.nav-menu {
  &__item {
    color: $text-color-secondary;

    &:hover {
      text-decoration: underline;
    }
  }
}
