@use '../variables.scss' as *;

.packages {
  &__items {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
  }

  & .package-card {
    padding: 40px;
    border: 1px solid $border-light-gray;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    flex-basis: 360px;
    cursor: pointer;
    transition: ease-in-out 0.3s background-color;

    &:hover {
      transform: scale(1.02);
      color: $text-color-secondary;
      background-color: $bg-color-tetriary;
      .package-card__title {
        &::before,
        &::after {
          background-color: $text-color-secondary;
        }
      }
    }

    &__title {
      font-size: 30px;
      font-weight: 600;
      display: inline-flex;
      justify-content: center;
      gap: 8px;
      align-items: center;

      &::after,
      &::before {
        content: '';
        background-color: $bg-color-tetriary;
        width: 18px;
        height: 4px;
      }
    }

    &__price {
      font-size: 50px;
      font-weight: 600;
      margin-top: 83px;
    }

    &__description {
      margin-top: 20px;
      margin-bottom: 61px;
      font-size: 18px;
      text-align: center;
    }

    &__btn {
      margin-top: auto;
    }
  }
}
