@use '../variables.scss' as *;

.promo {
  background-color: $bg-cpolor-tetriary;
  height: calc(100vh - 108px);
  max-height: 1080px;
  color: $text-color-secondary;
  position: relative;
  overflow: hidden;

  &__wrapper {
    display: flex;
  }

  &__title {
    margin-top: 181px;
  }

  &__subtitle {
    font-size: 70px;
    font-weight: 700;
    max-width: 528px;
  }

  &__text {
    max-width: 478px;
    font-size: 20px;
    margin-bottom: 50px;
  }

  &__img {
    position: absolute;
    object-fit: cover;
    max-width: 783px;
    width: 100%;
    height: auto;
    top: calc(54px + 108px);
    left: 49%;
  }
}
