@use 'variables' as *;

* {
  font-family: $font-main;
}

html,
body {
  min-width: 320px;
  min-height: 100dvh;
  margin: 0;
  font-family: $font-main;
  font-weight: 400;
  line-height: 1.6;
  color: $text-color-primary;
  background-color: $bg-color-primary;
}

section {
  padding: 120px 0;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

.logo {
  font-size: 30px;
  font-weight: 700;
}

.tel {
  font-size: 30px;
  font-weight: 600;

  &:hover {
    text-decoration: underline;
  }
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  padding: 25px 54px;
  background-color: $controls-bg-primary;
  border: none;
  border-radius: 5px;
  color: $text-color-secondary;
  transition: background-color 0.3 ease;

  &:hover {
    background-color: $controls-color-primary-hover;
  }

  &--dark {
    background-color: $controls-bg-secondary;

    &:hover {
      background-color: $controls-color-secondary-hover;
    }
  }
}
